! Fonts config
URxvt.font: xft:MesloLGS NF:style=Regular:size=14
URxvt.boldFont: xft:MesloLGS NF:style=Bold:size=14
URxvt.urgentOnBell: false
URxvt.scrollBar: false
URxvt.intensityStyles: false
URxvt.termName: rxvt-unicode-256color
URxvt.depth: 32

! Disable scrollbar
! Dracula Xresources palette
*.foreground: #c3c7d1
*.background: [90]#2a2844

! Black
*.color0:     #6b768b
*.color8:     #6b768b

! Red
*.color1:     #ed254e
*.color9:     #ed254e

! Green
*.color2:     #71f79f
*.color10:    #71f79f

! Yellow
*.color3:     #f9dc5c
*.color11:    #f9dc5c

! Blue
*.color4:     #7cb7ff
*.color12:    #7cb7ff

! Magenta
*.color5:     #c74ded
*.color13:    #c74ded

! Cyan
*.color6:     #00c1e4
*.color14:    #00c1e4

! White
*.color7:     #dcdfe4
*.color15:    #dcdfe4
