[Desktop Entry]
Comment=Lightweight client that depends on spotifyd
Exec=spt
GenericName=Client for Linux
Icon=Spotify
Name=Spotify TUI
NoDisplay=false
StartupNotify=true
Type=Application
X-KDE-SubstituteUID=false
Terminal=true
