[Unit]
Description=GCal Get service
After=default.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=%h/.local/bin/daemonize_command -c "%h/.local/bin/gcal_notifier get" -r 10

[Install]
WantedBy=default.target
