[user]
	name = Thales Nunes
	email = thalesaknunes22@gmail.com
[core]
	excludesFile = ~/Projects/.gitignore_global
[credential]
	helper = store
[init]
	defaultBranch = main
[merge]
	tool = nvimdiff
[mergetool "nvimdiff"]
	path = nvim
