/** Basic config file **/

configuration {
  show-icons:         true;
  icon-theme:         "BeautyLine";
  combi-modi:         "drun,Mixed:~/.config/rofi/modi/Mixed.sh";
  modi: "combi,window,Finder:~/.config/rofi/modi/Finder.sh,Calc:~/.config/rofi/modi/Calc.sh,FileBrowser:~/.config/rofi/modi/FileBrowser.sh,Code:~/.config/rofi/modi/Code.sh,AudioOut:~/.config/rofi/modi/AudioOut.sh,Kill:~/.config/rofi/modi/Kill.sh";
}
