/** Basic config file **/

configuration {
  show-icons:         true;
  icon-theme:         "BeautyLine";
  combi-modi:         "drun,Mixed:~/.config/rofi/modi/Mixed.sh";
  modi:               "combi";
}
