@import url("./colors.css");

* {
    border: none;
    border-radius: 0;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    border-radius: 10px;
    background: rgba(40, 42, 54, 0.6);
    color: @white;
}

window#waybar>box {
    padding-left: 8px;
    padding-right: 8px;
}

#workspaces {
    font-size: 16px;
    font-weight: bold;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: @white;
    border-top: 2px solid transparent;
}

#workspaces button.focused {
    color: #BA68C8;
    border-top: 2px solid #BA68C8;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid #BA68C8;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode, #window, #workspaces {
    padding: 0 3px;
    margin: 0 2px;
}

#clock {
    font-size: 18px;
    font-weight: bold;
}

#battery {
    color: @red;
}

#battery icon {
}

#battery.charging {
    color: @green;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: @black;
    }
}

#battery.warning:not(.charging) {
    color: @white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    color: @yellow;
}

#memory {
    color: @cyan;
}

#network {
    color: @orange;
}

#network.disconnected {
    color: #f53c3c;
}

#pulseaudio {
    color: @purple;
}

#pulseaudio.muted {
    color: @red;
}

#tray {
}

#bluetooth {
    color: @cyan;
}

#bluetooth.disconnected {
    color: #f53c3c;
}
