{
  "fullscreen": false,
  "icon": "distributor-logo-debian",
  "fixedPanelIcon": true,
  "searchResultsMerged": true,
  "searchDefaultFilters": [
    "Dictionary",
    "services",
    "calculator",
    "shell",
    "org.kde.windowedwidgets",
    "org.kde.datetime",
    "baloosearch",
    "locations",
    "unitconverter"
  ],
  "showRecentApps": false,
  "recentOrdering": 1,
  "numRecentApps": 5,
  "sidebarShortcuts": [
    "xdg:DOWNLOAD",
    "org.kde.dolphin.desktop",
    "systemsettings.desktop"
  ],
  "defaultAppListView": "Alphabetical",
  "tileModel": [
    {
      "x": 0,
      "y": 0,
      "w": 2,
      "h": 2,
      "url": "org.kde.discover.desktop",
      "showLabel": false
    },
    {
      "x": 2,
      "y": 0,
      "w": 2,
      "h": 2,
      "url": "htop.desktop",
      "showLabel": false
    },
    {
      "x": 2,
      "y": 4,
      "w": 2,
      "h": 2,
      "url": "Musescore3.desktop",
      "showLabel": false
    },
    {
      "x": 2,
      "y": 2,
      "w": 2,
      "h": 2,
      "url": "brave-eppojlglocelodeimnohnlnionkobfln-Profile_2.desktop",
      "showLabel": false
    },
    {
      "x": 4,
      "y": 2,
      "w": 2,
      "h": 2,
      "url": "brave-dhehceoabmcddigfnadgnpockbkdjhof-Profile_2.desktop",
      "showLabel": false
    },
    {
      "x": 0,
      "y": 2,
      "w": 2,
      "h": 2,
      "url": "org.qbittorrent.qBittorrent.desktop",
      "showLabel": false
    },
    {
      "x": 4,
      "y": 4,
      "w": 2,
      "h": 2,
      "url": "Zoom.desktop",
      "showLabel": false
    },
    {
      "x": 0,
      "y": 4,
      "w": 2,
      "h": 2,
      "url": "discord.desktop",
      "showLabel": false
    },
    {
      "x": 4,
      "y": 0,
      "w": 2,
      "h": 2,
      "url": "brave-mmdlhfemokamcbfmonedljpcaplfgjbc-Profile_3.desktop",
      "showLabel": false
    },
    {
      "x": 4,
      "y": 6,
      "w": 2,
      "h": 2,
      "url": "libreoffice-calc.desktop",
      "showLabel": false
    },
    {
      "x": 2,
      "y": 6,
      "w": 2,
      "h": 2,
      "url": "libreoffice-impress.desktop",
      "showLabel": false
    },
    {
      "x": 0,
      "y": 6,
      "w": 2,
      "h": 2,
      "url": "libreoffice-writer.desktop",
      "showLabel": false
    }
  ],
  "tileMargin": 4,
  "tilesLocked": false,
  "defaultTileColor": "#00000000",
  "defaultTileGradient": false,
  "sidebarBackgroundColor": "",
  "hideSearchField": false,
  "searchFieldFollowsTheme": true,
  "sidebarFollowsTheme": true,
  "tileLabelAlignment": "center",
  "appDescription": "hidden",
  "menuItemHeight": 36,
  "searchFieldHeight": 34,
  "appListWidth": 300,
  "favGridCols": 6,
  "popupHeight": 511,
  "sidebarButtonSize": 40,
  "sidebarIconSize": 26,
  "sidebarPopupButtonSize": 34
}
